.ssp-widget-social-link {
  display: inline-block;
}

.ssp-widget-social-link-list {
  list-style: none;
  margin-left: 0;
}

.ssp-widget-social-link-list li {
  float: left;
  text-align: center;
  width: 40px;
}

.ssp-widget-social-link-list a:hover {
  font-weight: 600;
}

.ssp-widget-social-link-list a:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: 28px;
  line-height: 40px;
}

.ssp-widget-social-link-facebook:before {
  color: #3B5998;
  content: "\f09a";
}

.ssp-widget-social-link-twitter:before {
  color: #00aaf0;
  content: "\f099";
}

.ssp-widget-social-link-googleplus:before {
  color: #e04b34;
  content: "\f0d5";
}

.ssp-widget-social-link-youtube:before {
  color: #cc181e;
  content: "\f167";
}

.ssp-widget-social-link-pinterest:before {
  color: #ab171e;
  content: "\f0d2";
}

.ssp-widget-social-link-instagram:before {
  color: #3f729b;
  content: "\f16d";
}

.ssp-widget-social-link-feed:before {
  color: #ff6600;
  content: "\f09e";
}
